In [2]:
from base import exports
import logging
from pandasql import sqldf
import pandas as pd

log = logging.getLogger(__name__)
logging.basicConfig(level=logging.INFO)

### Public School Directory

In [46]:
raw_data = exports.get_df_from_csv(file_name='data/escuelas_publicas_2017.csv')

In [88]:
# add records un Punta Santiago to Humacao municipio
raw_data.loc[raw_data.DIRECCION_MUNICIPIO == 'PUNTA SANTIAGO, HUMACAO', 
             'DIRECCION_MUNICIPIO'] = 'HUMACAO'

In [95]:
query = \
    '''SELECT DIRECCION_MUNICIPIO as municipio
        ,count(*) as total_schools
        ,SUM(MATRICULA_TOTAL) as total_matriculation
        ,ROUND(avg(BAJO_NIVEL_POBREZA), 2) as avg_perc_students_in_poverty
        from raw_data where DIRECCION_MUNICIPIO not in ("")
        group by 1 order by 2 desc'''

muni = sqldf(query)

In [99]:
muni

,municipio,total_schools,total_matriculation,avg_perc_students_in_poverty
0,SAN JUAN,107,30588.0,82.35
1,PONCE,53,16924.0,79.42
2,BAYAMON,51,18164.0,77.11
3,CAGUAS,43,12474.0,78.17
4,CAROLINA,29,12161.0,79.29
5,ARECIBO,28,9931.0,73.67
6,MAYAGUEZ,24,6122.0,85.44
7,TOA BAJA,22,8049.0,81.16
8,AGUADILLA,21,5422.0,82.86
9,HUMACAO,20,6485.0,70.05
10,CAYEY,19,5968.0,77.77
11,YAUCO,18,5086.0,77.31
12,SALINAS,17,3604.0,79.05
13,GUAYAMA,16,5003.0,74.23
14,SAN SEBASTIAN,16,5476.0,78.45
15,YABUCOA,16,4289.0,79.75
16,CANOVANAS,15,4739.0,83.82
17,TRUJILLO ALTO,15,5236.0,81.41
18,UTUADO,15,4208.0,83.75
19,VEGA BAJA,15,6206.0,82.19
20,BARRANQUITAS,14,3816.0,78.54
21,COAMO,14,4673.0,73.98
22,JUANA DIAZ,14,5055.0,77.07
23,MANATI,14,4026.0,80.22
24,NARANJITO,14,4450.0,75.99
25,AGUADA,13,5378.0,77.99
26,GUAYNABO,13,4960.0,80.64
27,ISABELA,13,4901.0,79.05
28,OROCOVIS,13,3332.0,80.67
29,TOA ALTA,13,4853.0,74.32
...,...,...,...,...
48,CIALES,9,2495.0,82.23
49,DORADO,9,2856.0,85.16
50,GUANICA,9,1676.0,82.75
51,GUAYANILLA,9,2764.0,77.88
52,LAJAS,9,3284.0,81.44
53,LARES,9,4179.0,80.81
54,LOIZA,9,2624.0,89.44
55,PATILLAS,9,1844.0,83.17
56,SABANA GRANDE,9,2753.0,73.00
57,VILLALBA,9,3493.0,72.33
58,ANASCO,8,2637.0,76.75
59,CIDRA,8,3503.0,72.73
60,GURABO,8,3076.0,75.97
61,JAYUYA,8,2356.0,81.12
62,NAGUABO,8,2055.0,84.55
63,QUEBRADILLAS,8,3123.0,80.79
64,AGUAS BUENAS,7,2342.0,83.21
65,ARROYO,7,2267.0,77.06
66,BARCELONETA,7,2663.0,81.55
67,LAS MARIAS,7,1310.0,81.91
68,SANTA ISABEL,7,2226.0,76.49
69,HORMIGUEROS,6,2258.0,74.41
70,VIEQUES,6,1113.0,83.79
71,LUQUILLO,5,2257.0,82.89
72,MARICAO,5,765.0,87.66
73,MAUNABO,5,1339.0,79.96
74,RINCON,5,1439.0,79.67
75,CEIBA,4,1401.0,80.43
76,FLORIDA,4,1823.0,79.76
77,CULEBRA,1,169.0,72.08

In [4]:
query = 'SELECT count(*), REGION from df group by 2 order by 1 desc'
schools_per_region = sqldf(query)

In [5]:
schools_per_region

   count(*)    REGION
0       181     PONCE
1       174  MAYAGUEZ
2       170  SAN JUAN
3       164    CAGUAS
4       160   HUMACAO
5       145   BAYAMON
6       138   ARECIBO